@import '../../global.scss';

.contact {
  position: relative;
  height: calc(100vh - 70px);

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    padding: 50px;
    display: flex;

    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .left {
      flex: 1;

      .title {
        font-size: 60px;
        width: 80%;

        @include mobile {
          margin-top: 30px;
          font-size: 20px;
          width: 100%;
          align-items: center;
          justify-content: center;
        }
      }

      .info {
        .info-item {
          display: flex;
          align-items: center;
          margin: 50px 0px;
          width: 70%;

          @include mobile {
            margin: 20px 0px;
            width: 100%;
            font-size: small;
          }

          .phone-icon {
            width: 9%;
            height: 9%;
            margin-right: 20px;
          }

          .email-icon {
            width: 10%;
            height: 12%;
            margin-right: 20px;
          }

          .home-icon {
            width: 10%;
            height: 6%;
            margin-right: 20px;
          }
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-weight: 600;

        @include mobile {
          font-weight: 410;
          margin-top: 20px;
          align-items: center;
          justify-content: center;
        }
      }

      form {
        margin-top: 20px;

        @include mobile {
          margin-top: 5px;
        }

        input {
          width: 50%;
          height: 50px;
          border: none;
          border-bottom: 1px solid #000;
          margin: 10px 0px;
          font-size: 14px;
          padding-left: 10px;
        }

        textarea {
          width: 100%;
          margin: 10px 0px;
          font-size: 14px;
          padding-left: 10px;
        }

        button {
          border: none;
          border-radius: 20px;
          padding: 15px;
          background-color: $sweetColor;
          color: white;
          font-weight: 500;
          cursor: pointer;

          @include mobile {
            padding: 6;
          }
        }
      }
    }
  }
  .signature {
    margin-top: 10px;
    margin-left: 38vw;
    letter-spacing: 2px;

    @include mobile {
      width: 100vh;
      margin-left: 7vw;
      font-size: 12px;
    }
  }
}
