@import '../../global.scss';

.footer {
  position: fixed;
  width: 70px !important;
  left: 0;
  bottom: 0;
  z-index: 100;

  .container {
    .link-list {
      display: block;

      ul {
        position: relative;
        left: 0;
        bottom: 0;
        list-style-type: none;
        margin-left: -15px;
        margin-bottom: 30px;

        @include mobile {
          margin-left: -31px;
          margin-bottom: 12px;
        }

        li {
          margin: 20px 0px;
          a {
            .disabled-link {
              cursor: pointer;
              pointer-events: none;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
